test.ipynb
.gitignore
PA1 Text Classification/data/financial-news-test.csv
PA1 Text Classification/data/financial-news-train.csv
PA1 Text Classification/data/__MACOSX/._financial-news-test.csv
PA1 Text Classification/data/__MACOSX/._financial-news-train.csv
PA1 Text Classification/.env
PA1_TextClassification/data
PA1_TextClassification/.env
Docs/*

# Whatever
*.env
*.json
*.env
# Python
__pycache__/
*.py[cod]
*.pyc
*.tmp

# Models and Checkpoints
*.pth
*.pt
*.ckpt
*.bin
*.pkl
*.h5
*.onnx
*.safetensors

# Jupyter
.ipynb_checkpoints/
